<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start"></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content class="background">
  <form [formGroup]="registrationCredentials" (ngSubmit)="register()">

    <ion-item fill="solid" class="ion-input-email">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" formControlName="registrationEmail"></ion-input>
      <ion-note slot="error" *ngIf="(email.dirty || email.touched) && email.errors">Email invalida</ion-note>
    </ion-item>

    <ion-item fill="solid" class="ion-input-password">
      <ion-label position="floating">Password</ion-label>
      <ion-input [type]="type" formControlName="registrationPassword"></ion-input>
      <ion-icon (click)="toggle()" [name]="icon" slot="end"></ion-icon>
      <ion-note slot="error" *ngIf="(password.dirty || password.touched) && password.errors">
        La password deve essere lunga almeno 6 caratteri
      </ion-note>
    </ion-item>
    
    <ion-button class="register-button" expand="block" color="success" type="submit" [disabled]="!registrationCredentials.valid">
      Registrati
    </ion-button>
    
  </form>
</ion-content>