<ion-content class="background">
  <form [formGroup]="credentials" (ngSubmit)="login()">

    <ion-item fill="solid" class="ion-input-email">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
      <ion-note slot="error" *ngIf="(email.dirty || email.touched) && email.errors">Email is invalid</ion-note>
    </ion-item>

    <ion-item fill="solid" class="ion-input-password">
      <ion-label position="floating">Password</ion-label>
      <ion-input [type]="type" formControlName="password"></ion-input>
      <ion-icon (click)="toggle()" [name]="icon" slot="end"></ion-icon>
      <ion-note slot="error" *ngIf="(password.dirty || password.touched) && password.errors">Password must have at least 6 characters</ion-note>
    </ion-item>
    
    <ion-button class="login-button" type="submit" expand="block" color="success" [disabled]="!credentials.valid">Login</ion-button>
    <ion-button class="register-button" type="button" expand="block" color="secondary" fill="clear" [routerLink]="['/registration']">Register</ion-button>
  
  </form>
</ion-content>