<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start"></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content class="background">
  <li *ngFor="let book of books | async" (click)="book.expanded = !book.expanded">
    <ion-card>
      <img src={{book.image}}/>
      <ion-card-header>
        <ion-card-title>{{book.title}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div [hidden]="!book.expanded">
          {{book.plot}}
        </div>
      </ion-card-content>
      <ion-button fill="clear" href={{book.token}}>
        Leggi il libro
      </ion-button>
    </ion-card>
  </li>
</ion-content>
