#container {
  text-align: justify;

  margin-top: 70px;
  margin-left: 50px;
  margin-right: 50px;
}

ion-content.background {
  background-color: linear-gradient(to bottom right, rgb(87, 87, 87), rgb(0, 0, 0));
}