<ion-header>
  <ion-toolbar>   
      <ion-button fill="clear" slot="start" (click)="logout()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
        <ion-label>Logout</ion-label>
      </ion-button>

      <ion-button fill="clear" slot="end" (click)="deleteAccount()">
        <ion-icon slot="icon-only" name="trash-bin-outline"></ion-icon>
        <ion-label>Elimina<br>account</ion-label>
      </ion-button>    
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <img src="https://m.media-amazon.com/images/I/61xOlCsVfLL.jpg">
        <ion-button (click)="goTo('books')" expand="block" fill="clear" shape="round">
          Harry potter
        </ion-button>
      </ion-col>
      <ion-col>
        <img src="https://m.media-amazon.com/images/I/71gjt76M3xL.jpg">
        <ion-button (click)="goTo('theLordOfTheRings')" expand="block" fill="clear" shape="round">
          Il signore degli anelli
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>